<div class="container">
    <h1>About</h1>

    <h2>Our story starts with one man.</h2>
    <p>Back in 1954, a man named Ray Kroc discovered a small burger restaurant in California, and wrote the first page of our history. From humble beginnings as a small restaurant, we're proud to have become one of the world's leading food service brands with more than 36,000 restaurants in more than 100 countries</p>

    <h2>Our History</h2>
    <p>From drive-thru restaurants to Chicken McNuggets to college credits from Hamburger U, we’ve had quite a journey. And we’re still going. But to take a look into our past, we need to share the story of one man.</p>

    <h2>The Ray Kroc Story</h2>
    <p>How do you create a restaurant business and become an overnight success at the age of 52? As Ray Kroc said, “I was an overnight success alright, but 30 years is a long, long night.”</p>

    <h2>Origins</h2>
    <p>In 1917, 15-year-old Ray Kroc lied about his age to join the Red Cross as an ambulance driver, but the war ended before he completed his training. He then worked as a piano player, a paper cup salesman and a Multimixer salesman. In 1954, he visited a restaurant in San Bernardino, California that had purchased several Multimixers. There he found a small but successful restaurant run by brothers Dick and Mac McDonald, and was stunned by the effectiveness of their operation. The McDonald’s brothers produced a limited menu, concentrating on just a few items – burgers, fries and beverages – which allowed them to focus on quality and quick service.</p>

    <p>They were looking for a new franchising agent and Kroc saw an opportunity. In 1955, he founded McDonald’s System, Inc., a predecessor of the McDonald’s Corporation, and six years later bought the exclusive rights to the McDonald’s name and operating system. By 1958, McDonald’s had sold its 100 millionth hamburger.</p>
</div>